{% extends 'base.html' %}

{% block title %}
Все рецепты
{% endblock %}

{% block content %}
<h1>Новые рецепты</h1>

<div class="recipes-container">
    {% for post in posts %}
    <div class="recipe-card">
        <!-- Используем URL изображения из базы данных -->
        <div class="recipe-image" style="background-image: url('{{ post.image_url }}');"></div>
        <div class="recipe-content">
            <h3 class="recipe-title">{{ post.title }}</h3>
            <div class="recipe-separator"></div>
            <p class="recipe-description">{{ post.description }}</p>
            <a href="#" class="recipe-link">
                Читать рецепт
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}